.field-content
{
    width: 12.5%;
    height: 100px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
}


