.field-content
{
    width: 12.5%;
    min-height: 64px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.field-content > img 
{
    width: 80%;
}
