.field-content
{
    width: 12.5%;
    height: 12.5%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: grab;
}

.field-content > img
{
    width: 100%;
}
