* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
.header-content
{
    width: 100%;
    min-height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    color: #000;
}

.page-title
{
    width: 100%;
    min-height: 64px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
}
.page-title span
{
    cursor: pointer;
}
.page-title button
{
    height: 24px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    cursor: pointer;
}

.auth-buttons
{
    min-width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.auth-buttons button
{
    width: 100%;
    height: 100%;
    font-size: 17.5px;
    padding: 7.5px;
    margin-bottom: 15px;
}

.toggle-config
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
}