* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
.header-content
{
    width: 100%;
    min-height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    color: #000;
}

.page-title
{
    width: 100%;
    min-height: 64px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
