.create-table
{
    height: 55px;
    width: 45%!important;
}

.index-form
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.index-form form 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.index-form input
{
    width: 70%;
    padding: 7.5px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 15px!important;
}
.index-form button
{
    width: 30%;
}

.table-list
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 7.5px;
    font-size: 18.5px;
    text-align: left;
}

.table-list p
{
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.table-list img
{
    width: 35px;
    border-radius: 50%;
}
.output_frontSection
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}
h3.output_title
{
    position: relative;
    width: max-content;
    font-size: clamp(1em, 3vw + 1rem, 4 rem);
    padding: 3.5px 0;
    margin-top: 30px;
    color: #121212;
}

.output_title::before,
.output_title::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.output_title::before
{
    background-color: #fff;
    animation: type-writer 1.5s steps(19) forwards;
    animation-delay: 0.5s;
    border-left: 2px solid green;
}

@keyframes type-writer {
    to {
        left: 100%;
        border: none;
    }
}