.players-form
{
    width:100%;
    height: auto;
}



.config-table
{
    width: 85%;
    position: fixed;
    top: 12vh;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px 0 0 0;
    border-left: 5px solid green;
}
.config-table button
{
    width: 50%;
    padding: 7.5px;
    margin-bottom: 15px;
}

.config-table button[type="submit"]
{
    
    background-color: rgba(130, 189, 96, 0.7);
    float: right;
}
.config-table p
{
    width: 100%;
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0;
}

.user-list
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
}

.game-list
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
}

.table-content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
.players-form
{
    width:100%;
    height: auto;
}



.config-table
{
    width: 25%;
    position: fixed;
    top: 12vh;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px 0 0 0;
    border-left: 5px solid green;
}
.config-table button
{
    width: 50%;
    padding: 7.5px;
    
}
.config-table p
{
    width: 100%;
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0;
}

.user-list
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
}

.game-list
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
}

.table-content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}